<!DOCTYPE html>
<html>
	<head>
		<title>{{page_title}}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="/fonts/font-awsome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/fonts/source-sans-pro/source-sans-pro.css">
		<link rel="stylesheet" type="text/css" href="/fonts/source-serif-pro/source-serif-pro.css">


		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">

		<script type="text/javascript" href="/js/jquery-2.2.3.min.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="text">
				Seidenstrasse
			</div>
		</div>
		{% block content %}
			{{content}}
		{% endblock %}
	</body>
</html>
